# Auto detect text files and perform LF normalization
* text=auto

# shell scripts and units must keep Linux line endings
*.sh text eol=lf
*.service text eol=lf
*.timer text eol=lf
Dockerfile text eol=lf
